<!DOCTYPE html>
<html lang="en" data-ng-app="crm">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-ng-init="title = '@this.ViewBag.Title'" data-ng-bind="title">Home</title>
    @Styles.Render("~/themes/default")
    @RenderSection("styles", required: false)
</head>
<body class="container container-fluid">
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
