<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/themes/default")
    @RenderSection("styles", required: false)
</head>
    <body class="container-fluid">
        @RenderBody()
        @Scripts.Render("~/js/jquery")
        @Scripts.Render("~/js/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
